* {
    box-sizing: border-box;
}

body {
    font-family:  "Times New Roman", Times, serif;
    
    padding: 10px;
    background: #a3cfe0;
}

/* start title */
.title{
    text-align: center; 
    padding: 8px; 
}
/* end title */


/* start nav */
.nav{
    background-color: white;
    height: 50px;
}
.nav a{
    text-decoration: none;
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
}
.nav .a4{
    float: right;
}
/* end nav */

/* start cards */


.card {
    background-color: white;
    padding: 10px;
    margin-top: 23px;
}
.left{
    float: left;
    width: 75%;
    background-color: #a3cfe0 ;
}

h1 , p , h4{
    margin-left: 12px;
}


.cards:after {
    content: "";
    display: table;
    clear: both;
}


.right {
    float: right;
    width: 25%;
    background-color: #a3cfe0;
    padding-left: 18px;
   
}
/* end cards */ 


/* start footer */
.footer {
    text-align: center;
    background: white;
    padding: 10px;
    margin-top: 23px;
}
/* end footer */


@media screen and (max-width: 800px) {
    .left, .right {   
        width: 100%;
        padding: 0;
    }
}
@media screen and (max-width: 400px) {
    .nav a {
        float: none;
        width: 100%;
    }
}
